@import url('https://fonts.googleapis.com/css2?family=Strichpunkt+Sans:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Strichpunkt Sans", sans-serif;
	
}

body {
    display: flex;
	justify-content: start;
	align-items: start;
	padding-top: 25px;
	padding-left: 125px;
    min-height: 100vh;
    background: url(/img/white-background.jpg);
	/*background: #ffffff;
	background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(224, 220, 215, 1) 100%);*/
    background-size: cover;
    background-position: center;
}

.caixa{
	z-index: 3;
	padding: 20px;
	border: 2px solid rgba(53, 53, 53, .2);
	border-radius: 10px;
	background-color: transparent;
	box-shadow: 0 0 10px rgba(53, 53, 53, .2);
	backdrop-filter: blur(20px);
	margin-bottom: 30px;
}

.caixa span{
	font-size: 20px;
	text-decoration: none;
}

table{
	margin-top: 30px;
	border-collapse: separate;
	border-spacing: 2px 8px ;
}

.corpo th{
	color: #ffffff;
	background-color: rgb(53, 53, 53);
	height: 30px;
	margin-top: 300px;
	padding-left: 20px;
	text-align: start;
}

.corpo td{
	border: 1px solid rgba(53, 53, 53, .5);
	width: fit-content;
	padding: 3px 20px;
}

.corpo h3{
	width: fit-content;
	background-color: rgb(53, 53, 53);
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(53, 53, 53, .2);
	padding: 5px 10px;
	
}

.corpo p{
	font-size: 18px;
}