<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Formulario-style.css">
    <title>Formulário de cliente</title>
</head>
<body>

    <main class="container">

        <form class="formulario" th:action="@{/cliente/salvar}" th:object="${cliente}"  method="post">

			<a th:href="@{/cliente/listar}"><- sair</a>
            <h1 th:text="${novo} ?'Novo cliente' : 'Editar cliente'"></h1>

            <table class="tabela">
                <tr>
                    <th>ID</th>
                    <td> <input type="text" class="input-box" th:field="*{idCliente}" readonly> </td>
                </tr>

                <tr>
                    <th>Nome</th>
                    <td> <input type="text" class="input-box" th:field="*{nome}"> </td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td> <input type="text" class="input-box" th:field="*{email}"> </td>
                </tr>

                <tr>
                    <th>Telefone</th>
                    <td> <input type="text" class="input-box" th:field="*{telefone}"> </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn-salvar"><p>Salvar</p></button>
                    </td>
                </tr>
            </table>
        </form>

    </main>
    
</body>
</html>