<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Formulario-style.css">
    <title>Formulário de agendamento</title>
</head>
<body>

    <main class="container">

        <form class="formulario" th:action="@{/agendamento/salvar}" th:object="${agendamento}"  method="post">

			<a th:href="@{/agendamento/listar}"><- sair</a>
            <h1 th:text="${novo} ?'Novo agendamento' : 'Editar agendamento'"></h1>

            <table class="tabela">
                <tr>
                    <th>ID</th>
                    <td> <input type="text" class="input-box" th:field="*{idAgendamento}" readonly> </td>
                </tr>

                <tr>
                    <th>Cabeleireiro</th>
					<td> 
						<select class="input-box" th:field="*{idProfissional}" required  >
							<div th:each="profissional : ${cabeleireiros}">
								<option th:value="${profissional.idProfissional}" th:text="${profissional.nome}">
								</option>
							</div>
							
					</td>
				</tr>

                <tr>
                    <th>Serviço</th>
					<td>
						<select class="input-box" th:field="*{idServico}" required  >
							<div th:each="servico : ${servicos}">
								<option th:value="${servico.idServico}" th:text="${servico.nome}">
								</option>
							</div>
					</td>
                </tr>
				
				<tr>
					<th>Cliente</th>
					<td>
						<select class="input-box" th:field="*{idCliente}" required  >
							<div th:each="cliente : ${clientes}">
								<option th:value="${cliente.idCliente}" th:text="${cliente.nome}">
								</option>
							</div>
					</td>
				</tr>

                <tr>
                    <th>Data</th>
                    <td> <input type="text" class="input-box" th:field="*{data}"> </td>
                </tr>

                <tr>
                    <th>Horário</th>
                    <td> <input type="text" class="input-box" th:field="*{horario}"> </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn-salvar"><p>Salvar</p></button>
                    </td>
                </tr>
            </table>
        </form>

    </main>
    
</body>
</html>